html {background:#fff;}
body{margin:50px;}
@media (max-width: 1024px) {
	body{margin:10px;}
}
h1 {text-align:center; text-transform:capitalize;}
.page-header h1 {text-transform:none;}
.clearboth {clear:both;}
.clearboth:after {content:"."; height:0px; line-height:0px; display:block; clear:both; visibility:hidden;}

.loading{background:url(../images/icons/249.GIF) center no-repeat; height:80px;}

button {margin:10px 0 20px;}

.chat-container{width:100%; overflow:hidden; box-shadow:0px 0px 4px #999; border-radius:4px;}
.chat {width:200%; margin:0px; transition: all 0.5s ease;}
.chat .chat-list,
.chat .messages {display:block; float:left;}

.chat-list {width:50%; overflow:hidden; margin:0px 0% 0 0;}
.chat-list ul {list-style:none; margin:0px 0; padding:0;}
.chat-list ul li > div {padding:5px; background-color:#428bca; cursor:pointer; color:#fff; transition: all 1s ease;}
.chat-list ul li:hover > div {background-color:#227cca; transition: all 0.3s ease;}
.chat-list ul li > div.active { background-color:#5bc0de; font-weight:bold;}
.chat-list ul li img {margin:0 5px 0 0;}
.chat-list ul li a {color:inherit;}

/* For showing extra options */
.chat-list ul li {position:relative; width:calc(100% + 200px); transition: all .5s ease;}
.chat-list ul li:hover {width:100%;}
.chat-list ul li span {display:none;}
.chat-list ul li span {display:block; border:1px solid #DDD; position:absolute; right:0%; top:0px;}
.chat-list ul li span a {display:inline-block; float:left; background:#999; color:#fff; line-height:56px; padding:0 10px;}
.chat-list ul li span a.delete {background:#F00;}

.messages {width:50%; font-size:12px;}
.messages .actions {padding:0 10px;}
.messages .actions .action-edit,
.messages .actions .action-delete {float:right; margin-left:10px;}
.messages ul {list-style:none; margin:0; padding:5px; background:#fff; max-height:300px; overflow:auto}
.messages ul li > div {padding:5px 5px 3px; color: #31708f; background-color: #d9edf7; border: 1px solid transparent; border-radius: 4px; margin:0 0 5px; transition: all 0.4s ease; float:left; clear:both;}
.messages ul li > div:hover,
.messages ul li > div:focus,
.messages ul li > div:active {background-color:#227cca; color:#FFF;}
.messages ul li > div.current {float:right;}
.messages ul li > div.time {line-height:8px; background:none; padding:3px; text-align:center; float:none; height: 15px; overflow: visible; margin-bottom: 15px; border-bottom: 1px solid #EEE;}
.messages ul li > div.time span {display:inline-block; padding:5px 10px 6px; line-height:8px; font-size:10px; font-weight:bold; color: #8a6d3b; background-color: #fcf8e3; border-radius: 4px; border:1px solid #faebcc;}
.messages ul li > div small {display:block; text-align:right; font-size:10px; line-height:10px; font-style:italic; padding-top:3px; opacity: 0.4; filter: alpha(opacity=40);}
.messages ul li > div:hover small {opacity: 1; filter: alpha(opacity=100); color:#DDD;}
.messages ul li img {margin:0 5px 0 0;}
.messages ul li a {color:inherit;}
.messages .input {}
.messages .input .btn {border-radius:0 0 4px 4px; margin:0;}
.messages .form-control {border:0; /*box-shadow:none;*/ max-width:100%; min-width:100%; border-radius:0; resize:none;}

.active-chat{margin-left:-100%;}
.new-chat-form input {background:transparent; border:0; outline:none; line-height:60px; width:calc(100% - 100px);}