                    <div class="messages" ng-show="hasMessages">
                    	<div>&nbsp;&nbsp;&nbsp;<button type="button" class="btn back-to-list btn-default">Back</button></div>
                        <h1>{{data.chat.name}}</h1>
                        <ul>
                            <li ng-repeat="result in messages">
                                <div class="time" ng-show="result.timeago"><span>{{result.timeago}}</span></div>
                                <div class="{{result.class}}">{{result.msg}}<small>{{result.timestamp*1000 | date:'H:mm'}}</small></div>
                            </li>
                        </ul>
                        <div class="input">
                            <form name="msgs_form" ng-submit="submitData(chat_form,'form_data')">
                                <textarea placeholder="enter text here.." class="form-control expanding" rows="3" ng-model="form_message" required ></textarea>
                                <button type="submit" class="btn btn-success btn-block" ng-disabled="chat_form.$invalid">Send</button>
                            </form>
                            <!--textarea id="submitDebugText2">{{form_data | json}}</textarea-->
                        </div>
                    </div>
            
<!-- AutoExpanding Textarea -->
<script type="text/javascript" src="js/expanding.js"></script>
